body{
  background:rgb(255, 255, 255) ;
  font-family: Rubik;
    color:rgb(255, 255, 255);
    overflow-x: hidden;
    background-color: #ffffff;

}
 .ad li{
  margin: 10px,10px,10px,10px;
}
#home{

  width: 100%;
  height:100vh;
  font-family: Rubik;
background: url("img/rbkavin's.jpg");
background-position: center;
/*  background-attachment: fixed;
  */background-repeat: no-repeat;
  background-size:cover;
  scroll-behavior: smooth;

}
canvas{
  width: 100%;
  height: 100%;
}
#navb{

}
#work{
  width: 100%;
  height:100vh;
}
.nav-fixed {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  margin-bottom: 0px;
  z-index: 997;
  background: rgb(0, 0, 0);
}

.side-nav{
  background: rgba(0, 0, 0, 1);
}
hr{
  width:50%;
  background: red;
  color:red;
}
.btn{
  margin-bottom: 6px;
  margin-left: 10px;
  margin-right: 10px;
}